<div class="container mb-5 pb-5">
  <img
    class="img-fluid d-none d-sm-block w-25 mx-auto"
    src="assets/img/1-ford.png"
    alt="Logo Ford"
  />
</div>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group mb-3">
    <i class="fa fa-user icon" aria-hidden="true"></i>
    <input
      class="form-control"
      placeholder="Insira seu usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Digite seu usuário!"
    ></app-mensagem>
  </div>

  <div class="form-group mb-3">
    <i class="fa fa-lock icon" aria-hidden="true"></i>
    <input
      type="password"
      class="form-control"
      placeholder="Insira sua senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid &&
      campoSenha.touched"
      mensagem="Digite sua senha!"
    >
    </app-mensagem>
  </div>

  <div class="form-group mb-3"></div>

  <div class="d-grid gap-2 mb-3">
    <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="loginForm.invalid"
    >Entrar</button>
  </div>
</form>

