<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">
      <i
        class="fa fa-bars fa-1x"
        (click)="menu.abreMenu()"
        (keyup.space)="menu.abreMenu()"
      >
      </i>
    </a>

    <app-menu #menu>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['', 'home']" routerLinkActive="active">Home</a>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['', 'dashboard']" routerLinkActive="active">Dashboard</a>
        </li>
      </ul>
    </app-menu>

    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle-o fa-2x" (click)="logout()"></i>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
